h1, h2, h3{
    font-family: Arial, sans-serif;
}

h1{
    font-size: 1.8em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.4em;
}




p{
    font-family: Times New Roman, sans-serif;
    font-size: 1.2em;
}

.paragraaf1{
    color: red;
}

.paragraaf2{
    color: forestgreen;
}

.paragraaf3{
    color: blue;
}




.opdracht7{
    font-size: 1.5em;
}
h2.opdracht6{
    font-size: 2em;
}

.home {
    font-size: 0.9em;
    font-family: sans-serif;
    position: relative;
    bottom: 0;
    left: 50%;
}