body {
    background-image: url("../semester 1/images/backgrounds/0-9085-fall-wallpaper-iphone.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}