body {
    width: 95%;
    margin: auto;
    font-family: Verdana, Arial, sans-serif;
}

section {
    width: 100%;
}

#banner {
    background-image: url("../../Fotos/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
}

#banner h1 {
    color: white;
    margin-top: 0;
    font-size: 2em;
    padding: 5px;
}

nav {
    background-color: #444444;
    padding: 5px;
}

nav a {
    color: #56FF92;
    text-decoration: none;
    font-weight: bolder;
}

article {
    background-color: #EEEEEE;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
}

header h1 {
    font-size: 1.5em;
    text-decoration: underline;
}